@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('reset.css');

* {
    box-sizing: border-box;
}

:root {
    --progress-color: #FFEC17;
    --idle-color: #D9D9D9;
    --warning-color: #FF2F2F;
    --done-color: #00FF1E;

    --border-color: #E3E3E3;
    --left-width: 16rem;
    --left-indent: 1rem;
    --top-height: 3rem;
    --footer-height: 4rem;
    --bg-color: #FFFFFF;
    --text-inactive: #505050;
    --text-active: #000000;
    --bg-active: #F3F3F3;
    --bg-post: #FAFAFA;
}

button {
    outline: none;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.app {
    font-family: Inter;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    height: 100vh;
}

*::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #EFEFEF;
    border-radius: 20px;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb:hover {
    background: #AFAFAF;

}

*::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */

    /* creates padding around scroll thumb */
}


.logo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--left-indent);
    padding-right: var(--left-indent);
    height: var(--top-height);
    border: 1px solid var(--border-color);
}

.logo-img {
    width: 6rem;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    min-width: 0;
}

section {
    flex: 1 1 0;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    min-width: 0;
}

.main-screen {
    flex: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    max-width: 1000px;
    gap: 0.5rem;
    min-width: 0;

}

aside {
    display: flex;
    flex-direction: column;
    width: var(--left-width);
    background-color: var(--bg-color);
    min-width: var(--left-width);
}

nav {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    padding-left: var(--left-indent);
    padding-right: var(--left-indent);

    padding-top: 0.5rem;
    gap: 0.2rem;
}

footer {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 0.7rem;
    color: var(--text-inactive);
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    height: var(--footer-height);
}
footer a:visited, footer a, footer a:active {
    color: var(--text-inactive);
    
}

header {
    gap: 0.5rem;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    height: var(--top-height);
}

.menu-item {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--text-inactive);
    cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
    color: var(--text-active);
    background-color: var(--bg-active);

}

.menu-text {
    margin-left: 5px;
}

.menu-icon {
    font-size: 1.5rem;
}

.header-buttons {
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.profile-button,
.workspace-button {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 1rem;
    align-items: center;
    border-radius: 8px;
    gap: 0.4rem;
    border: 1px solid var(--border-color);
    height: 2rem;

}

.profile-button:hover,
.workspace-button:hover {
    background-color: var(--bg-active);

}

.profile-button i,
.workspace-button i {
    font-size: 1.2rem;
}

.header-title {
    max-width: 16rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.profile-image {
    object-fit: cover;
    object-position: center;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;

}



.menu-item-content-list {
    user-select: none;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
    gap: 0.3125rem;
}

.project-item {
    color: var(--text-inactive);
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.project-item.active,
.project-item:hover {
    color: var(--text-active);
    background-color: var(--bg-active);
}

.project-item:hover {
    cursor: pointer;
}

.assigned-task-item {
    display: flex;
    flex-direction: row;
    gap: 0.3125rem;
    padding: 0.1rem;
    align-items: center;
    font-size: 0.875rem;
}

.assigned-task-item .task-text {
    color: var(--text-inactive);
}

.assigned-task-item:hover .task-text {
    color: var(--text-active);
}

.assigned-task-item:hover {
    cursor: pointer;
}

.assigned-task-item.active .task-text {
    color: var(--text-active);
}

.assigned-task-item .icon {
    font-size: 0.625rem;
}

.done {
    color: var(--done-color);
}

.progress {
    color: var(--progress-color);
}

.idle {
    color: var(--idle-color);
}

.warning {
    color: var(--warning-color);
}

.hidden {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    max-width: 100%;
    left: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
}

.show {
    display: block;
}

.dropdown-content {
    background-color: white;
    border-radius: 5px;
    margin-top: 0.2rem;
    padding: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@keyframes dropanimation {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.dropdown-content.show {
    animation: dropanimation;
    animation-duration: 0.3s;

}

.dropdown-content .drop-header {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    overflow: hidden;
    color: var(--text-inactive);
    margin: 0.1rem;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;

}

.dropdown-item {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    overflow: hidden;
    color: var(--text-inactive);
    border-radius: 5px;
    margin: 0.1rem;
    user-select: none;
}

.dropdown-item:hover {
    background-color: var(--bg-active);
    color: var(--text-active);
    cursor: pointer;
}

.drop-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.drop-header .profile-image {
    width: 2rem;
    height: 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.project-item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

}

table {
    font-size: 0.7rem;
    border-collapse: collapse;
    width: 100%;
}

table .assigned-task-item {
    font-size: 0.7rem;
}

table,
td,
th {
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
}

th {
    font-size: 0.6rem;
    color: var(--text-inactive);
    padding: 0.2rem;
    text-align: left;
}

td {
    padding: 0.2rem;
    vertical-align: middle;
    text-align: left;
}

tr:hover {
    cursor: pointer;
    background-color: var(--bg-active);
}

.table-container {
    min-width: 0;
    overflow-x: auto;
    min-height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table-profile {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.h-projects-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

}

.btn {
    width: fit-content;
    border: 1px solid var(--border-color);
    padding: 0.3rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 0.5rem;
    font-size: 0.875rem;
    white-space: nowrap;
}

.btn i {
    font-size: 1.2rem;
}

.btn:hover {
    background-color: var(--bg-active);
}

hr {
    height: 1px;
    min-height: 1px;
    color: var(--border-color);
    background-color: var(--border-color);
    font-size: 0;
    border: 0;
    width: 100%;
}


.task-header .task-project {
    font-size: 1rem;
    font-weight: 300;
}

.task-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.task-identifier {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.task-status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task-actions {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: left;
    gap: 1rem;
    align-items: center;

}

.task-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    line-height: 125%;
    font-size: 0.875rem;
}


.form-group {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    align-items: left;
}

textarea,
input[type="text"] {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    max-width: 100%;
    font-family: Inter;
}

textarea:focus,
input[type="text"]:focus {
    border: 1px solid var(--text-active);
}

label {
    font-size: 0.8rem;
    font-weight: bold;
    width: fit-content;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.report {
    border: 1px solid var(--border-color);
    padding: 0.625rem 1.25rem;
    border-radius: 15px;
}

.report-top {
    flex-direction: column;
    display: flex;
    align-items: left;
    gap: 1rem;
    margin-bottom: 0.8rem;
}
.profile-indicator {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.profile-indicator .profile-name {
    font-size: 0.8rem;
}

.profile-indicator .profile-image {
    width: 2rem;
    height: 2rem;

}

.datetime {
    font-weight: 300;
    font-size: 0.8rem;
}

.status-change-indicator {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
}

.status-change-indicator>i {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
    font-weight: 500;
}

.report-header {
    margin-bottom: 0.2rem;
}
.report-desc {
    font-size: 0.8rem;
    font-weight: 300;
}

.report-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#menu-btn,
#close-aside {
    display: none;
}

@media screen and (max-width: 800px) {
    aside {
        display: none;
    }

    .header-title {
        display: none;
    }

    .profile-button .profile-name,
    header .workspace-text {
        display: none;
    }

    #menu-btn,
    #close-aside {
        display: inherit;
    }

    .main-screen {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.float-full {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.report-profile {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.project-task-list {
    padding: 0.5rem;
    flex: 1;

}

.project-task-list-title {
    margin-bottom: 0.5rem;
}
.project-task-list-items {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 0.5rem;
}
.project-tasks {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.project-task-header {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
}
.project-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.panel-dropdown {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-error {
    font-size: 0.7rem;
    color: red;
}
